.el-input__inner {
  border: 1px solid #181818 !important;
  outline: none !important;
  color: #fff !important;
  background-color: #454545 !important; /* 去掉默认背景色 */
}
.el-input__prefix {
  left: 2px !important;
  height: 88% !important;
  top: 3px !important;
  background: #1B1B1D !important;
}
.el-input__icon{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.el-dialog__header {
  padding: 10px 13px !important;
  border-bottom: 1px solid #ccc !important;
}
.el-dialog__body {
  padding: 20px 13px !important;
}
.el-dialog__footer {
  padding: 10px 13px !important;
  border-top: 1px solid #ccc !important;
}
.el-dialog {
  background-color: #1e1e1e !important;
}
.el-dialog__title {
  color: #fff !important;
}
