@padding: 10px 13px;
@fontColorDark: #999999;
@backgroundDark: #222127;
@fontColorHighlightDark: #fff;
@fontSize: 13px;
@borderPrimaryDark: #2f96ec;

img {
  user-select: none;
  pointer-events: none;
}

.h-ce-1 {
  border: 1px solid #3b3b3d;
  padding: 10px 13px;
  border-radius: 10px;
}
.h-ce-1-d1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 7px;
  img {
    height: 18px;
  }
  .label {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
  }
}
.h-ce-1-m {
  color: #757575;
  font-size: 13px;
  padding-left: 28px;
}
